@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-image: linear-gradient(to bottom, #fff, #f0f1ff);
  padding-top: 1.6rem;
  overflow-x: hidden;
}

@media only screen and (min-width: 48rem) {
  body {
    padding-top: 2.4rem;
    overflow-x: hidden;
    min-width: 108rem;
    max-width: 108rem;
  }
}

@media only screen and (min-width: 90rem) {
  body {
    margin: 0 auto;
    max-width: unset;
    overflow-x: hidden;
  }
}
